beautifulsoup4==4.12.3
bs4==0.0.2
cachetools==5.3.2
certifi==2024.2.2
charset-normalizer==3.3.2
cloudevents==1.10.1
deprecation==2.1.0
google-api-core==2.16.1
google-auth==2.27.0
google-cloud==0.34.0
google-cloud-bigquery==3.17.1
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
grpcio==1.46.3
idna==3.6
numpy==1.26.3
packaging==23.2
pandas==2.2.0
protobuf==4.25.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
rsa==4.9
six==1.16.0
soupsieve==2.5
tzdata==2023.4
urllib3==2.2.0
